<!DOCTYPE html>
<html>
    <head>
        {% block styling %}{% endblock %}
        <style>
            .header {
                list-style-type: none;
                display: flex;
            }
        
            .headernest {
            padding: 5px;
            }
        </style>
        <link rel="icon" type="image/png" href="static/favicon.png">
        <title>Penrosian Compass</title>
    </head>
    <header>
        <ul class="header" style="display: flex;">
            <li class="headernest"><a href="/"><img src="{{url_for('static', filename='logo.png')}}" alt="Logo" width="200" height="200"></a></li>
            <li class="headernest"><a href="/character"><img src="{{url_for('static', filename='character.png')}}" alt="Character" width="200" height="200"></a></li>
            <li class="headernest"><a href="/calculator"><img src="{{url_for('static', filename='calculate.png')}}" alt="Character" width="200" height="200"></a></li>
        </ul>
    </header>
    <body>
        {% block content %}{% endblock %}
        <p>Disclaimer: Some of the data we show on this website can be innacurate. This is due to the rounding shown in the game, as one high roll in a substat and a low roll look identical to two medium rolls. Since we have no way of differentiating between the two, a few errors may show up in damage calculations. This error will only be about 0.001% of the damage, which we don't consider significant.</p>
    </body>
</html>